#grievance{
    background-image: url('https://static.vecteezy.com/system/resources/previews/019/485/164/non_2x/3d-white-gold-hexagonal-wallpaper-pattern-background-vector.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
}